* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #eaeaea;
    padding: 30px 0;
}

.container{
    max-width: 900px;
    margin: auto;
    display: grid;
    gap: 30px;
}


.card {
    border: 1px solid #999;
    padding: 30px;
    background: #fff;
}


.front-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.left {
    width: 35%;
    text-align: center;
}

.logo-circle {
    width: 90px;
    height: 90px;
    border: 2px solid #0a2540;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    color: #0a2540;
    margin: auto;
}

.left h1 {
    margin-top: 10px;
    letter-spacing: 2px;
}

.sub {
    font-size: 14px;
    color: #555;
}

.vertical-line {
    width: 1px;
    height: 180px;
    background: #999;
    margin: 0 25px;
}

.right {
    width: 55%;
}

.right h3 {
    margin-bottom: 4px;
}

.Md {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.right p {
    margin-top: 8px;
}

.cen-line {
    width: 100%;
    text-align: center;
    margin-top: 25px;

}


.back-card {
    background: #061f3a;
    color: #fff;
}

.back-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.logo-circle.white {
    border-color: #fff;
    color: #fff;
}

.back-header h2 {
    letter-spacing: 2px;
}

.back-header span {
    font-size: 14px;
    opacity: 0.8;
}
.services h4 {
    margin-bottom: 10px;
}
.services ul {
    list-style: disc;
    padding-left: 20px;
}
.services li {
    margin-bottom: 6px;
}


@media (max-width: 768px) {

    .front-card {
        flex-direction: column;
        text-align: center;
    }

    .left, .right {
        width: 100%;
    }
    .vertical-line {
        display: none;
    }
.back-header {
        flex-direction: column;
        text-align: center;
    }
}

